<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shennong.nongzi.server.dal.dao.CustomerMapper">
	<resultMap id="BaseResultMap"
		type="com.shennong.nongzi.server.bean.entity.Customer">
		<id column="customer_id" property="customerId" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="id_no" property="idNo" jdbcType="VARCHAR" />
		<result column="mobile" property="mobile" jdbcType="VARCHAR" />
		<result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
		<result column="province" property="province" jdbcType="VARCHAR" />
		<result column="city" property="city" jdbcType="VARCHAR" />
		<result column="district" property="district" jdbcType="VARCHAR" />
		<result column="village" property="village" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="enable" property="enable" jdbcType="TINYINT" />
	</resultMap>
	<sql id="Base_Column_List">
		customer_id, name, id_no, mobile, birthday, province, city, district, village,
		create_time,
		update_time, enable
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from customer
		where customer_id = #{customerId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from customer
		where customer_id = #{customerId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.shennong.nongzi.server.bean.entity.Customer">
		insert into customer (customer_id, name, id_no,
		mobile, birthday, province,
		city, district, village,
		create_time, update_time, enable
		)
		values (#{customerId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
		#{idNo,jdbcType=VARCHAR},
		#{mobile,jdbcType=VARCHAR}, #{birthday,jdbcType=TIMESTAMP}, #{province,jdbcType=VARCHAR},
		#{city,jdbcType=VARCHAR}, #{district,jdbcType=VARCHAR},
		#{village,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{enable,jdbcType=TINYINT}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.shennong.nongzi.server.bean.entity.Customer">
		insert into customer
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="customerId != null">
				customer_id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="idNo != null">
				id_no,
			</if>
			<if test="mobile != null">
				mobile,
			</if>
			<if test="birthday != null">
				birthday,
			</if>
			<if test="province != null">
				province,
			</if>
			<if test="city != null">
				city,
			</if>
			<if test="district != null">
				district,
			</if>
			<if test="village != null">
				village,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="enable != null">
				enable,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="customerId != null">
				#{customerId,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="idNo != null">
				#{idNo,jdbcType=VARCHAR},
			</if>
			<if test="mobile != null">
				#{mobile,jdbcType=VARCHAR},
			</if>
			<if test="birthday != null">
				#{birthday,jdbcType=TIMESTAMP},
			</if>
			<if test="province != null">
				#{province,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				#{city,jdbcType=VARCHAR},
			</if>
			<if test="district != null">
				#{district,jdbcType=VARCHAR},
			</if>
			<if test="village != null">
				#{village,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="enable != null">
				#{enable,jdbcType=TINYINT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.shennong.nongzi.server.bean.entity.Customer">
		update customer
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="idNo != null">
				id_no = #{idNo,jdbcType=VARCHAR},
			</if>
			<if test="mobile != null">
				mobile = #{mobile,jdbcType=VARCHAR},
			</if>
			<if test="birthday != null">
				birthday = #{birthday,jdbcType=TIMESTAMP},
			</if>
			<if test="province != null">
				province = #{province,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				city = #{city,jdbcType=VARCHAR},
			</if>
			<if test="district != null">
				district = #{district,jdbcType=VARCHAR},
			</if>
			<if test="village != null">
				village = #{village,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="enable != null">
				enable = #{enable,jdbcType=TINYINT},
			</if>
		</set>
		where customer_id = #{customerId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.shennong.nongzi.server.bean.entity.Customer">
		update customer
		set name = #{name,jdbcType=VARCHAR},
		id_no = #{idNo,jdbcType=VARCHAR},
		mobile = #{mobile,jdbcType=VARCHAR},
		birthday = #{birthday,jdbcType=TIMESTAMP},
		province = #{province,jdbcType=VARCHAR},
		city = #{city,jdbcType=VARCHAR},
		district = #{district,jdbcType=VARCHAR},
		village = #{village,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		update_time = #{updateTime,jdbcType=TIMESTAMP},
		enable = #{enable,jdbcType=TINYINT}
		where customer_id = #{customerId,jdbcType=INTEGER}
	</update>
	<select id="selectAllCustomerList" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		customer
		where
		enable = 1
	</select>
	<select id="selectCustomerByCustomerId" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from customer
		where customer_id = #{customerId}
		and
		enable = 1
	</select>
	<update id="deleteCustomerByCustomerId" parameterType="java.lang.Integer">
		update
		customer
		set
		enable = 0
		where
		customer_id = #{customerId}
	</update>
	<select id="selectCustomerListByName" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from customer
		where
		name like '${name}%'
		and
		enable = 1
	</select>

	<sql id="where_condition">
		<where>
			enable = 1
			<if test="param != null">
				<if test="param.name != null">
					and name like '%${param.name}%'
				</if>
				<if test="param.mobile != null">
					and mobile like '%${param.mobile}%'
				</if>
				<if test="param.village != null">
					and village like '%${param.village}%'
				</if>
			</if>
		</where>
	</sql>

	<select id="selectCustomerListByParamWithLimit" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from customer
		<include refid="where_condition" />
		order by create_time desc
		limit #{begin},#{limit}
	</select>

</mapper>